@font-face {
    font-family: 'DidactGothic';
    font-weight: 900;
    src: local('DidactGothic'), url(./fonts/DidactGothic-Regular.ttf) format('opentype');
}

body
{
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
}

p{
   margin: 0;
   padding: 0;
   }
