@font-face {
    font-family: 'DidactGothic';
    font-weight: 900;
    src: local('DidactGothic'), url(./fonts/DidactGothic-Regular.ttf) format('opentype');
}

@font-face {
   font-family: 'BeVietnam-regular';
   font-weight: 900;
   src: local('BeVietnam'), url(./fonts/BeVietnam-Regular.ttf) format('opentype');
}

@font-face {
   font-family: 'BeVietnam-extraBold';
   font-weight: 900;
   src: local('BeVietnam'), url(./fonts/BeVietnam-ExtraBold.ttf) format('opentype');
}

@font-face {
   font-family: 'EBGaramond';
   font-weight: 900;
   src: local('EBGaramond'), url(./fonts/EBGaramond-SemiBold.ttf) format('opentype');
}

@font-face {
   font-family: 'Cinzel';
   font-weight: 900;
   src: local('Cinzel'), url(./fonts/Cinzel-Regular.ttf) format('opentype');
}

body
{
   margin: 0px;
   padding: 0px;
   font-family: 'BeVietnam-regular', sans-serif;
   background-color: #222222;
}

p{
   margin: 0;
   padding: 0;
   }
